.footer {
    padding: 40px 0 81px 0;
    text-align: center;
    &__address {
        font-size: 11px;
        line-height: 16px;
        color: #828282;
    }
    &__link {
        margin-top: 17px;
        font-size: 14px;
        line-height: 17px;
        color: $blue;
    }
    &__img {
        display: none;
    }
}