.job {
    padding: 64px 0 90px 0;
    text-align: center;
    color: $dark;

    &__title {
        font-size: 36px;
        line-height: 45px;
        color: $dark;
        font-weight: normal;
    }
    &__variable {
        margin-top: 64px;
        display: flex;
        justify-content: space-evenly;
        &-town {
            font-size: 18px;
            line-height: 21px;
        }
        &-all {
            font-size: 18px;
            line-height: 22px;
            color: #828282;
        }
    }
    &__inner {
        margin-top: 98px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        // &-hidden {
        //     display: none;
        // }

    }
    &__item {
        width: 376px;
        height: 462px;
        border: 1px solid #EBEBEB;
        padding: 66px 70px 64px 70px;
        transition: all .5s;
        margin-bottom: 30px;
        &-hidden {
            display: none;
        }
        &-active {
            display: block;
        }
        
        &-title {
            font-size: 22px;
            line-height: 27px;
        }
        img {
            margin-top: 46px;
            width: 48px;
            height: 48px;
            padding: 7px 7px;
            background-color: $mainBlue;
            transition: all .5s;
        }
        &:hover img {
            background-color: $orange;
        }
        &-salary {
            font-size: 15px;
            line-height: 19px;
            margin-top: 52px;
        }
        &-btn {
            margin: 0 auto;
            margin-top: 56px;
            padding-top: 19px;
            width: 174px;
            height: 54px;
            border: 1px solid #EBEBEB;
            font-weight: normal;
            font-size: 14px;
            line-height: 17px;
            color: $blue;
        }
        &:hover {
            box-shadow: 0px 14px 24px rgba(15, 18, 20, 0.1);
        }

    }

    &__button {
        margin-top: 26px;
        width: 217px;
        height: 64px;
        background-color: $orange;
        text-align: center;
        color: #FFF;
        font-weight: bold;
        font-size: 16px;
        line-height: 19px;
        transition: all .5s;
        cursor: pointer;
        border: none;
        &:hover {
            background-color: #E77E1E;
        }
    }

}


