.main {
    background: url(../images/main/mainBlue.png) -52px no-repeat,
                url(../images/main/mainHome.jpg)  right no-repeat;
    position: relative;            
    height: 448px;
    padding-top: 121px;
    margin-top: 38px;
    &__title {
        font-weight: bold;
        font-size: 36px;
        line-height: 42px;
        color: #FFFFFF;
    }
    &__button {
        margin-top: 59px;
        width: 254px;
        height: 64px;
        background-color: $orange;
        padding-top: 22px;
        text-align: center;
        color: #FFF;
        font-weight: bold;
        font-size: 16px;
        line-height: 19px;
        transition: all .5s;
        &:hover {
            background-color:#E77E1E;
        }
    }
    &__img {
        position: absolute;
        bottom: 0;
        right: 50px;
    }
}