.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #C4C4C4;
    top: 0;
    overflow-y: auto;
    z-index: 100;
    display: none;

}
.modal {
    position: absolute;
    top: 114px;
    left: 10%;   
    max-width: 1145px;
    min-height: 2633px;
    background-color: #f2f2f2;
    &__close {
        position: absolute;
        width: 70px;
        height: 70px;
        background: #E9862A;
        color: #fff;
        top: calc(50% - 247px);
        right: calc(50% - 615px);
        font-size: 23px;
        line-height: 11px;
        cursor: pointer;
        text-align: center;
        padding-top: 29px;
    }
    &__top {
        background-color: #F7F7F7;
        height: 354px;
        padding: 86px 142px 0 143px;
        position: relative;
        &-title {
            font-size: 36px;
            line-height: 28px;
            color: $dark;
        }
        &-subtitle {
            margin-top: 40px;
            font-size: 16px;
            line-height: 28px;
            color: #828282;
        }
        &-descr {
            width: 630px;
            font-size: 22px;
            line-height: 32px;
            color: $dark;
            margin-top: 40px;
        }
        &-img {
            width: 184px;
            display: block;
            position: absolute;
            right: 79px;
            bottom: 0;
        }
    }
    &__content {
        background-color: #fff;
        padding: 55px 142px 143px;
        &-title {
            font-weight: bold;
            font-size: 36px;
            line-height: 42px;
            color: #000;
        }
        &-descr {
            margin-top: 37px;
            font-weight: normal;
            font-size: 18px;
            line-height: 34px;
            color: $dark;
        }
        img {
            width: 100%;
            margin: 40px 0 50px 0;
        }

        &-subtitle {
            font-weight: bold;
            font-size: 24px;
            line-height: 28px;
        }
        &-table {
            margin-top: 50px;
            padding: 42px 41px 41px 43px;
            width: 100%;
            height: 219px;
            background: rgba(233, 134, 42, 0.02);
            border: 1px solid #E9862A;
            font-weight: normal;
            font-size: 16px;
            line-height: 34px;
            text-align: center;
        }
        h5 {
            font-weight: bold;
            font-size: 18px;
            line-height: 28px;
            margin-top: 50px;
        }
    }
}