.service {
    padding: 60px 0 70px 0;
    text-align: center;
    &__title {
        font-size: 24px;
        line-height: 40px;
        color: #000000;
    }
    &__inner {
        margin-top: 70px;
        display: flex;
        justify-content: space-between;
    }
    &__item {
        padding-top: 113px;
        width: 350px;
        height: 359px;
        transition: all .5s;
        text-align: center;
        &-title {
            margin-top: 44px;
            font-weight: normal;
            font-size: 20px;
            line-height: 26px;
        }
        &-btn {
            margin: 0 auto;
            margin-top: 51px;
            padding-top: 19px;
            display: none;
            width: 174px;
            height: 54px;
            border: 1px solid #EBEBEB;
            font-weight: normal;
            font-size: 14px;
            line-height: 17px;
            color: $blue;
        }
        &:hover {
            box-shadow: 0px 14px 24px rgba(15, 18, 20, 0.1);
            padding-top: 44px;
        }
        &:hover &-btn {
            display: block;
        }
        &-icon {
            margin: 0 auto;
            width: 100px;
            height: 100px;
            border-radius: 50%;
            background-color: #F2F2F2;
            transition: all .5s;
            img {
                padding: 30px 30px;
            }
        }


        &:hover &-icon {
            background-color: $orange;
        }
    }
}