.students {
    background-color: #F9F9F9;
    padding: 86px 104px;
    color: $dark;
    text-align: center;
    &__title {
        font-weight: normal;
        font-size: 36px;
        line-height: 45px;
        color: $dark;
        
    }
    &__subtitle {
        margin-top: 28px;
        font-weight: normal;
        font-size: 22px;
        line-height: 27px;
    }
    &__inner {
        max-width: 1150px;
        margin-top: 84px;
        display: flex;
        justify-content: space-between;

    }
    &__item {
        width: 25%;
        &-icon {
            margin: 0 auto;
            width: 100px;
            height: 100px;
            border-radius: 100%;
            background-color: #fff;
        }
        img {
            padding: 38px 31px;
        }
        &-descr {
            font-size: 18px;
            line-height: 22px;
            margin-top: 39px;
        }
    }
    &__send {
        margin-top: 84px;
        font-size: 22px;
        line-height: 27px;
        span {
            color: $blue;
            &:hover {
                cursor: pointer;
            }
        }
    }
}