.values {
    padding: 90px 0 90px 0;
    background-color: #f2f2f2;
    &__title {
        font-weight: normal;
        font-size: 36px;
        line-height: 45px;
        color: $dark;
        text-align: center;
        
    }
    &__inner {
        margin-top: 58px;
        display: flex;
        justify-content: space-between;
    }
    &__item {
        width: 376px;
        height: 413px;
        background-color: #fff;
        padding: 56px 50px 0 50px;
        margin: 0 16px;
        &-title {
            font-weight: normal;
            font-size: 20px;
            line-height: 28px;
            color: $dark;
        }
        &-descr {
            margin-top: 30px;
            font-weight: normal;
            font-size: 16px;
            line-height: 30px;
            color: $gray;
        }
    }
}